body, h1, p, button {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", sans-serif;
}

body {
  background-color: #eee;
  color: #212121;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #BFBFBF;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  display: flex;
  font-size: 40px;
  font-weight: bold;
  column-gap: 10px;
  color: #212121; 
}

.title div {
  font-size: 30px;
  margin: 0 5px;
  padding-top: 5px;
  color: #fff;
  font-weight: 800;
}

.buttons button {
  margin-left: 10px;
  font-size: 18px;
  background-color: #FF8040;
  color: #FFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons button:hover {
  background-color: #E55D2E; 
}

.container {
  max-width: 80%;
  margin: 5% auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #FF8040;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.movie-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 300px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.movie-item img {
  max-width: 90%;
  height: 200px;
}

.movie-item h2 {
  font-size: 18px;
  margin-top: 10px;
  color: #333;
}

.remove-button {
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  background-color: #E55D2E;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: #FF8040;
}

.empty {
  font-size: 20px;
  font-weight: bold;
}