<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %> | OMdB</title>

    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="../css/signIn.css">
    <!-- noty.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
</head>
<body>
    <div>
        <h1>Sign Up</h1>
    </div>
    <div class="form-container">
<!-- SIGN UP FORM -->
        <form action="/users/create" method="POST">
            <input type="text" name="name" placeholder="Enter Name" required> <br />
            <input type="email" name="email" placeholder="Enter email" required> <br />
            <input type="password" name="password" placeholder="Enter password" required> <br />
            <input type="password" name="confirmPassword" placeholder="Confirm Password" required> <br />
            <button type="submit">Sign Up</button> <br />
            <a href="/signIn" >Already have an account?</a>
        </form> 
    </div>
    
      <script>
        <% if(flash.success && flash.success.length>0) {%>
            new Noty({
                theme : 'light',
                text: '<%=flash.success%>',
                layout: 'topRight',
                timeout:1500
            }).show()
        <% } %>
        <% if(flash.error && flash.error.length>0) {%>
            new Noty({
                theme : 'light',
                text: '<%=flash.error%>',
                type: 'error',
                layout: 'topRight',
                timeout:1500
            }).show()
        <% } %>
        <% if(flash.info && flash.info.length>0) {%>
            new Noty({
                theme : 'light',
                text: '<%=flash.error%>',
                type: 'info',
                layout: 'topRight',
                timeout:1500
            }).show()
        <% } %>
    </script>
</body>
</html>